# New Jersey Adjusted Census Files

The files being imported are primarily via the Redistricting Hub API. https://redistrictingdatahub.org/

##### Imports

In [1]:
import pandas as pd

# Always display all columns (no matter how many there are)
pd.set_option('display.max_columns', None)

from plotnine import *

/Users/sm/.pyenv/versions/3.10.0/lib/python3.10/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
# Necessary imports
import pandas as pd
from plotnine import *

# I don't think we use these?
from mizani.breaks import date_breaks
from mizani.formatters import date_format

In [3]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

----

## New Jersey

##### 2020 Redistricting Data for New Jersey at the Block Level (Adjusted)

From DataHub ReadMe file: These datasets were retrieved from the New Jersey Department of State at https://nj.gov/state/dos-reports-2020-census-report.shtml The RDH retrieved the data from the source listed and did not modify any of the data. The data for the Block level is available by county. There is one XLSX file for each county, and one sheet per table (P1, P2, P3, P4). All XLSX files are included in this zipped folder.

-----

Importing in Atlantic County

In [4]:
df_nj2 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//atlantic-county-blocks_R2.xlsx")
df_nj2.head(18)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Re-allocated based on New Jersey...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,One race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Native,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,American,NaN,Hawaiian,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indian,NaN,and,NaN,NaN,Hispanic,Not Hispanic,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Black or,and,NaN,Other,NaN,Two,or,or,NaN
13,NaN,NaN,NaN,NaN,Block,NaN,NaN,NaN,NaN,NaN,NaN,Total,NaN,NaN,African,Alaska,NaN,Pacific,Some,or more,Latino (of,Latino (of,NaN
14,State,County,Municipality,Tract,Group,Block,Vtd,Vtdi,County Name,Municipality Name,Areaname,Population,Total,White,American,Native,Asian,Islander,other race,races,any race),any race),18+
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Atlantic County,NaN,NaN,275531,249883,156988,42225,1254,21786,342,27288,25648,53811,221720,218990
17,34,001,00000,010101,4,4003,ZZZZZZ,P,Atlantic County,County subdivisions not defined,Block 4003,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
df_nj2 = df_nj2.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj2 = df_nj2.rename(columns={'Unnamed: 1': 'County'})
df_nj2 = df_nj2.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj2 = df_nj2.rename(columns={'Unnamed: 3': 'Tract'})
df_nj2 = df_nj2.rename(columns={'Unnamed: 4': 'Group'})
df_nj2 = df_nj2.rename(columns={'Unnamed: 5': 'Block'})
df_nj2 = df_nj2.rename(columns={'Unnamed: 6': 'VTD'})
df_nj2 = df_nj2.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj2 = df_nj2.rename(columns={'Unnamed: 8': 'County Name'})
df_nj2 = df_nj2.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj2 = df_nj2.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj2 = df_nj2.rename(columns={'Unnamed: 11': 'Population'})
df_nj2 = df_nj2.rename(columns={'Unnamed: 12': 'Total'})
df_nj2 = df_nj2.rename(columns={'Unnamed: 22': '18plus'})

In [6]:
df_nj2 = df_nj2.drop(df_nj2.index[range(17)])

In [7]:
df_nj2_subset = df_nj2[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj2_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,001,00000,010101,4,4003,ZZZZZZ,P,Atlantic County,County subdivisions not defined,Block 4003,0,0,0
18,34,001,00000,010101,4,4004,ZZZZZZ,P,Atlantic County,County subdivisions not defined,Block 4004,0,0,0
19,34,001,00000,010102,1,1000,ZZZZZZ,P,Atlantic County,County subdivisions not defined,Block 1000,0,0,0
20,34,001,00000,010102,1,1001,ZZZZZZ,P,Atlantic County,County subdivisions not defined,Block 1001,0,0,0
21,34,001,00000,010104,1,1000,ZZZZZZ,P,Atlantic County,County subdivisions not defined,Block 1000,0,0,0

-----

Importing in Bergen County

In [8]:
df_nj3 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//bergen-county-blocks_R2.xlsx")
df_nj3.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_nj3 = df_nj3.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj3 = df_nj3.rename(columns={'Unnamed: 1': 'County'})
df_nj3 = df_nj3.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj3 = df_nj3.rename(columns={'Unnamed: 3': 'Tract'})
df_nj3 = df_nj3.rename(columns={'Unnamed: 4': 'Group'})
df_nj3 = df_nj3.rename(columns={'Unnamed: 5': 'Block'})
df_nj3 = df_nj3.rename(columns={'Unnamed: 6': 'VTD'})
df_nj3 = df_nj3.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj3 = df_nj3.rename(columns={'Unnamed: 8': 'County Name'})
df_nj3 = df_nj3.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj3 = df_nj3.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj3 = df_nj3.rename(columns={'Unnamed: 11': 'Population'})
df_nj3 = df_nj3.rename(columns={'Unnamed: 12': 'Total'})
df_nj3 = df_nj3.rename(columns={'Unnamed: 22': '18plus'})

In [10]:
df_nj3 = df_nj3.drop(df_nj3.index[range(17)])

In [11]:
df_nj3_subset = df_nj3[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj3_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,003,00700,001001,1,1000,005002,A,Bergen County,Allendale borough,Block 1000,0,0,0
18,34,003,00700,001001,1,1001,005002,A,Bergen County,Allendale borough,Block 1001,0,0,0
19,34,003,00700,001001,1,1002,005002,A,Bergen County,Allendale borough,Block 1002,211,209,177
20,34,003,00700,001001,1,1003,005004,A,Bergen County,Allendale borough,Block 1003,629,587,529
21,34,003,00700,001001,1,1004,005004,A,Bergen County,Allendale borough,Block 1004,86,79,66

-----

Importing in Burlington County

In [12]:
df_nj4 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//burlington-county-blocks_R2.xlsx")
df_nj4.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_nj4 = df_nj4.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj4 = df_nj4.rename(columns={'Unnamed: 1': 'County'})
df_nj4 = df_nj4.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj4 = df_nj4.rename(columns={'Unnamed: 3': 'Tract'})
df_nj4 = df_nj4.rename(columns={'Unnamed: 4': 'Group'})
df_nj4 = df_nj4.rename(columns={'Unnamed: 5': 'Block'})
df_nj4 = df_nj4.rename(columns={'Unnamed: 6': 'VTD'})
df_nj4 = df_nj4.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj4 = df_nj4.rename(columns={'Unnamed: 8': 'County Name'})
df_nj4 = df_nj4.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj4 = df_nj4.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj4 = df_nj4.rename(columns={'Unnamed: 11': 'Population'})
df_nj4 = df_nj4.rename(columns={'Unnamed: 12': 'Total'})
df_nj4 = df_nj4.rename(columns={'Unnamed: 22': '18plus'})

In [14]:
df_nj4 = df_nj4.drop(df_nj4.index[range(17)])

In [15]:
df_nj4_subset = df_nj4[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj4_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,005,03370,704700,2,2000,005001,A,Burlington County,Bass River township,Block 2000,0,0,0
18,34,005,03370,704700,2,2001,005001,A,Burlington County,Bass River township,Block 2001,0,0,0
19,34,005,03370,704700,2,2002,005001,A,Burlington County,Bass River township,Block 2002,0,0,0
20,34,005,03370,704700,2,2003,005001,A,Burlington County,Bass River township,Block 2003,0,0,0
21,34,005,03370,704700,2,2004,005001,A,Burlington County,Bass River township,Block 2004,0,0,0

-----

Importing in Camden County

In [16]:
df_nj5 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//camden-county-blocks_R2.xlsx")
df_nj5.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_nj5 = df_nj5.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj5 = df_nj5.rename(columns={'Unnamed: 1': 'County'})
df_nj5 = df_nj5.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj5 = df_nj5.rename(columns={'Unnamed: 3': 'Tract'})
df_nj5 = df_nj5.rename(columns={'Unnamed: 4': 'Group'})
df_nj5 = df_nj5.rename(columns={'Unnamed: 5': 'Block'})
df_nj5 = df_nj5.rename(columns={'Unnamed: 6': 'VTD'})
df_nj5 = df_nj5.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj5 = df_nj5.rename(columns={'Unnamed: 8': 'County Name'})
df_nj5 = df_nj5.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj5 = df_nj5.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj5 = df_nj5.rename(columns={'Unnamed: 11': 'Population'})
df_nj5 = df_nj5.rename(columns={'Unnamed: 12': 'Total'})
df_nj5 = df_nj5.rename(columns={'Unnamed: 22': '18plus'})

In [18]:
df_nj5 = df_nj5.drop(df_nj5.index[range(17)])

In [19]:
df_nj5_subset = df_nj5[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj5_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,007,02200,605602,1,1000,005001,A,Camden County,Audubon borough,Block 1000,0,0,0
18,34,007,02200,605602,1,1001,005001,A,Camden County,Audubon borough,Block 1001,82,71,64
19,34,007,02200,605602,1,1002,005001,A,Camden County,Audubon borough,Block 1002,130,124,108
20,34,007,02200,605602,1,1003,005001,A,Camden County,Audubon borough,Block 1003,100,91,75
21,34,007,02200,605602,1,1004,005001,A,Camden County,Audubon borough,Block 1004,88,75,65

-----

Importing in Cape May County

In [20]:
df_nj6 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//cape-may-county-blocks_R2.xlsx")
df_nj6.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_nj6 = df_nj6.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj6 = df_nj6.rename(columns={'Unnamed: 1': 'County'})
df_nj6 = df_nj6.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj6 = df_nj6.rename(columns={'Unnamed: 3': 'Tract'})
df_nj6 = df_nj6.rename(columns={'Unnamed: 4': 'Group'})
df_nj6 = df_nj6.rename(columns={'Unnamed: 5': 'Block'})
df_nj6 = df_nj6.rename(columns={'Unnamed: 6': 'VTD'})
df_nj6 = df_nj6.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj6 = df_nj6.rename(columns={'Unnamed: 8': 'County Name'})
df_nj6 = df_nj6.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj6 = df_nj6.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj6 = df_nj6.rename(columns={'Unnamed: 11': 'Population'})
df_nj6 = df_nj6.rename(columns={'Unnamed: 12': 'Total'})
df_nj6 = df_nj6.rename(columns={'Unnamed: 22': '18plus'})

In [22]:
df_nj6 = df_nj6.drop(df_nj6.index[range(17)])

In [23]:
df_nj6_subset = df_nj6[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj6_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,009,00000,020101,3,3029,ZZZZZZ,P,Cape May County,County subdivisions not defined,Block 3029,0,0,0
18,34,009,00000,020101,4,4047,ZZZZZZ,P,Cape May County,County subdivisions not defined,Block 4047,0,0,0
19,34,009,00000,020102,1,1027,ZZZZZZ,P,Cape May County,County subdivisions not defined,Block 1027,0,0,0
20,34,009,00000,020102,5,5023,ZZZZZZ,P,Cape May County,County subdivisions not defined,Block 5023,0,0,0
21,34,009,00000,020201,2,2003,ZZZZZZ,P,Cape May County,County subdivisions not defined,Block 2003,0,0,0

-----

Importing in Cumberland County

In [24]:
df_nj7 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//cumberland-county-blocks_R2.xlsx")
df_nj7.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_nj7 = df_nj7.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj7 = df_nj7.rename(columns={'Unnamed: 1': 'County'})
df_nj7 = df_nj7.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj7 = df_nj7.rename(columns={'Unnamed: 3': 'Tract'})
df_nj7 = df_nj7.rename(columns={'Unnamed: 4': 'Group'})
df_nj7 = df_nj7.rename(columns={'Unnamed: 5': 'Block'})
df_nj7 = df_nj7.rename(columns={'Unnamed: 6': 'VTD'})
df_nj7 = df_nj7.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj7 = df_nj7.rename(columns={'Unnamed: 8': 'County Name'})
df_nj7 = df_nj7.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj7 = df_nj7.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj7 = df_nj7.rename(columns={'Unnamed: 11': 'Population'})
df_nj7 = df_nj7.rename(columns={'Unnamed: 12': 'Total'})
df_nj7 = df_nj7.rename(columns={'Unnamed: 22': '18plus'})

In [26]:
df_nj7 = df_nj7.drop(df_nj7.index[range(17)])

In [27]:
df_nj7_subset = df_nj7[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj7_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,011,00000,990000,0,0001,ZZZZZZ,P,Cumberland County,County subdivisions not defined,Block 0001,0,0,0
18,34,011,00000,990000,0,0002,ZZZZZZ,P,Cumberland County,County subdivisions not defined,Block 0002,0,0,0
19,34,011,00000,990000,0,0003,ZZZZZZ,P,Cumberland County,County subdivisions not defined,Block 0003,0,0,0
20,34,011,00000,990000,0,0004,ZZZZZZ,P,Cumberland County,County subdivisions not defined,Block 0004,0,0,0
21,34,011,00000,990000,0,0005,ZZZZZZ,P,Cumberland County,County subdivisions not defined,Block 0005,0,0,0

-----

Importing in Essex County

In [28]:
df_nj8 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//essex-county-blocks_R2.xlsx")
df_nj8.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df_nj8 = df_nj8.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj8 = df_nj8.rename(columns={'Unnamed: 1': 'County'})
df_nj8 = df_nj8.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj8 = df_nj8.rename(columns={'Unnamed: 3': 'Tract'})
df_nj8 = df_nj8.rename(columns={'Unnamed: 4': 'Group'})
df_nj8 = df_nj8.rename(columns={'Unnamed: 5': 'Block'})
df_nj8 = df_nj8.rename(columns={'Unnamed: 6': 'VTD'})
df_nj8 = df_nj8.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj8 = df_nj8.rename(columns={'Unnamed: 8': 'County Name'})
df_nj8 = df_nj8.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj8 = df_nj8.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj8 = df_nj8.rename(columns={'Unnamed: 11': 'Population'})
df_nj8 = df_nj8.rename(columns={'Unnamed: 12': 'Total'})
df_nj8 = df_nj8.rename(columns={'Unnamed: 22': '18plus'})

In [30]:
df_nj8 = df_nj8.drop(df_nj8.index[range(17)])

In [31]:
df_nj8_subset = df_nj8[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj8_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,013,04695,014000,1,1000,005206,A,Essex County,Belleville township,Block 1000,40,35,32
18,34,013,04695,014000,1,1001,005206,A,Essex County,Belleville township,Block 1001,109,96,87
19,34,013,04695,014000,1,1002,005206,A,Essex County,Belleville township,Block 1002,62,56,51
20,34,013,04695,014000,1,1003,005206,A,Essex County,Belleville township,Block 1003,89,85,67
21,34,013,04695,014000,1,1004,005206,A,Essex County,Belleville township,Block 1004,95,87,80

-----

Importing in Gloucester County

In [32]:
df_nj9 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//gloucester-county-blocks_R2.xlsx")
df_nj9.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df_nj9 = df_nj9.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj9 = df_nj9.rename(columns={'Unnamed: 1': 'County'})
df_nj9 = df_nj9.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj9 = df_nj9.rename(columns={'Unnamed: 3': 'Tract'})
df_nj9 = df_nj9.rename(columns={'Unnamed: 4': 'Group'})
df_nj9 = df_nj9.rename(columns={'Unnamed: 5': 'Block'})
df_nj9 = df_nj9.rename(columns={'Unnamed: 6': 'VTD'})
df_nj9 = df_nj9.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj9 = df_nj9.rename(columns={'Unnamed: 8': 'County Name'})
df_nj9 = df_nj9.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj9 = df_nj9.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj9 = df_nj9.rename(columns={'Unnamed: 11': 'Population'})
df_nj9 = df_nj9.rename(columns={'Unnamed: 12': 'Total'})
df_nj9 = df_nj9.rename(columns={'Unnamed: 22': '18plus'})

In [34]:
df_nj9 = df_nj9.drop(df_nj9.index[range(17)])

In [35]:
df_nj9_subset = df_nj9[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj9_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,015,13360,501501,1,1000,005005,A,Gloucester County,Clayton borough,Block 1000,1,1,1
18,34,015,13360,501501,1,1001,005005,A,Gloucester County,Clayton borough,Block 1001,71,65,58
19,34,015,13360,501501,1,1002,005005,A,Gloucester County,Clayton borough,Block 1002,9,6,7
20,34,015,13360,501501,1,1003,005005,A,Gloucester County,Clayton borough,Block 1003,14,13,6
21,34,015,13360,501501,1,1004,005005,A,Gloucester County,Clayton borough,Block 1004,34,31,26

-----

Importing in Hudson County

In [36]:
df_nj10 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//hudson-county-blocks_R2.xlsx")
df_nj10.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df_nj10 = df_nj10.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj10 = df_nj10.rename(columns={'Unnamed: 1': 'County'})
df_nj10 = df_nj10.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj10 = df_nj10.rename(columns={'Unnamed: 3': 'Tract'})
df_nj10 = df_nj10.rename(columns={'Unnamed: 4': 'Group'})
df_nj10 = df_nj10.rename(columns={'Unnamed: 5': 'Block'})
df_nj10 = df_nj10.rename(columns={'Unnamed: 6': 'VTD'})
df_nj10 = df_nj10.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj10 = df_nj10.rename(columns={'Unnamed: 8': 'County Name'})
df_nj10 = df_nj10.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj10 = df_nj10.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj10 = df_nj10.rename(columns={'Unnamed: 11': 'Population'})
df_nj10 = df_nj10.rename(columns={'Unnamed: 12': 'Total'})
df_nj10 = df_nj10.rename(columns={'Unnamed: 22': '18plus'})

In [38]:
df_nj10 = df_nj10.drop(df_nj10.index[range(17)])

In [39]:
df_nj10_subset = df_nj10[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj10_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,017,03580,010100,1,1000,005319,A,Hudson County,Bayonne city,Block 1000,0,0,0
18,34,017,03580,010100,1,1001,005319,A,Hudson County,Bayonne city,Block 1001,0,0,0
19,34,017,03580,010100,1,1002,005319,A,Hudson County,Bayonne city,Block 1002,0,0,0
20,34,017,03580,010100,1,1003,005319,A,Hudson County,Bayonne city,Block 1003,0,0,0
21,34,017,03580,010100,1,1004,005319,A,Hudson County,Bayonne city,Block 1004,0,0,0

----

Importing in Hunterdon County

In [40]:
df_nj11 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//hunterdon-county-blocks_R2.xlsx")
df_nj11.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
df_nj11 = df_nj11.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj11 = df_nj11.rename(columns={'Unnamed: 1': 'County'})
df_nj11 = df_nj11.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj11 = df_nj11.rename(columns={'Unnamed: 3': 'Tract'})
df_nj11 = df_nj11.rename(columns={'Unnamed: 4': 'Group'})
df_nj11 = df_nj11.rename(columns={'Unnamed: 5': 'Block'})
df_nj11 = df_nj11.rename(columns={'Unnamed: 6': 'VTD'})
df_nj11 = df_nj11.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj11 = df_nj11.rename(columns={'Unnamed: 8': 'County Name'})
df_nj11 = df_nj11.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj11 = df_nj11.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj11 = df_nj11.rename(columns={'Unnamed: 11': 'Population'})
df_nj11 = df_nj11.rename(columns={'Unnamed: 12': 'Total'})
df_nj11 = df_nj11.rename(columns={'Unnamed: 22': '18plus'})

In [42]:
df_nj11 = df_nj11.drop(df_nj11.index[range(17)])

In [43]:
df_nj11_subset = df_nj11[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj11_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,019,00550,010600,1,1000,005003,A,Hunterdon County,Alexandria township,Block 1000,133,131,112
18,34,019,00550,010600,1,1001,005003,A,Hunterdon County,Alexandria township,Block 1001,3,3,1
19,34,019,00550,010600,1,1002,005003,A,Hunterdon County,Alexandria township,Block 1002,15,13,11
20,34,019,00550,010600,1,1003,005003,A,Hunterdon County,Alexandria township,Block 1003,60,60,43
21,34,019,00550,010600,1,1004,005003,A,Hunterdon County,Alexandria township,Block 1004,70,62,55

-----

Importing in Mercer County

In [44]:
df_nj12 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//mercer-county-blocks_R2.xlsx")
df_nj12.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df_nj12 = df_nj12.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj12 = df_nj12.rename(columns={'Unnamed: 1': 'County'})
df_nj12 = df_nj12.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj12 = df_nj12.rename(columns={'Unnamed: 3': 'Tract'})
df_nj12 = df_nj12.rename(columns={'Unnamed: 4': 'Group'})
df_nj12 = df_nj12.rename(columns={'Unnamed: 5': 'Block'})
df_nj12 = df_nj12.rename(columns={'Unnamed: 6': 'VTD'})
df_nj12 = df_nj12.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj12 = df_nj12.rename(columns={'Unnamed: 8': 'County Name'})
df_nj12 = df_nj12.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj12 = df_nj12.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj12 = df_nj12.rename(columns={'Unnamed: 11': 'Population'})
df_nj12 = df_nj12.rename(columns={'Unnamed: 12': 'Total'})
df_nj12 = df_nj12.rename(columns={'Unnamed: 22': '18plus'})

In [46]:
df_nj12 = df_nj12.drop(df_nj12.index[range(17)])

In [47]:
df_nj12_subset = df_nj12[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj12_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,021,19780,004404,1,1000,005011,A,Mercer County,East Windsor township,Block 1000,713,617,562
18,34,021,19780,004404,1,1001,005011,A,Mercer County,East Windsor township,Block 1001,48,39,25
19,34,021,19780,004404,1,1002,005010,A,Mercer County,East Windsor township,Block 1002,0,0,0
20,34,021,19780,004404,1,1003,005011,A,Mercer County,East Windsor township,Block 1003,38,24,21
21,34,021,19780,004404,1,1004,005011,A,Mercer County,East Windsor township,Block 1004,51,48,41

-----

Importing in Middlesex County

In [48]:
df_nj13 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//middlesex-county-blocks_R2.xlsx")
df_nj13.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df_nj13 = df_nj13.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj13 = df_nj13.rename(columns={'Unnamed: 1': 'County'})
df_nj13 = df_nj13.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj13 = df_nj13.rename(columns={'Unnamed: 3': 'Tract'})
df_nj13 = df_nj13.rename(columns={'Unnamed: 4': 'Group'})
df_nj13 = df_nj13.rename(columns={'Unnamed: 5': 'Block'})
df_nj13 = df_nj13.rename(columns={'Unnamed: 6': 'VTD'})
df_nj13 = df_nj13.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj13 = df_nj13.rename(columns={'Unnamed: 8': 'County Name'})
df_nj13 = df_nj13.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj13 = df_nj13.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj13 = df_nj13.rename(columns={'Unnamed: 11': 'Population'})
df_nj13 = df_nj13.rename(columns={'Unnamed: 12': 'Total'})
df_nj13 = df_nj13.rename(columns={'Unnamed: 22': '18plus'})

In [50]:
df_nj13 = df_nj13.drop(df_nj13.index[range(17)])

In [51]:
df_nj13_subset = df_nj13[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj13_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,023,10750,003500,1,1000,005011,A,Middlesex County,Carteret borough,Block 1000,0,0,0
18,34,023,10750,003500,1,1001,005011,A,Middlesex County,Carteret borough,Block 1001,167,150,124
19,34,023,10750,003500,1,1002,005017,A,Middlesex County,Carteret borough,Block 1002,24,19,11
20,34,023,10750,003500,1,1003,005011,A,Middlesex County,Carteret borough,Block 1003,184,176,150
21,34,023,10750,003500,1,1004,005011,A,Middlesex County,Carteret borough,Block 1004,233,209,191

-----

Importing in Monmouth County

In [52]:
df_nj14 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//monmouth-county-blocks_R2.xlsx")
df_nj14.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df_nj14 = df_nj14.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj14 = df_nj14.rename(columns={'Unnamed: 1': 'County'})
df_nj14 = df_nj14.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj14 = df_nj14.rename(columns={'Unnamed: 3': 'Tract'})
df_nj14 = df_nj14.rename(columns={'Unnamed: 4': 'Group'})
df_nj14 = df_nj14.rename(columns={'Unnamed: 5': 'Block'})
df_nj14 = df_nj14.rename(columns={'Unnamed: 6': 'VTD'})
df_nj14 = df_nj14.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj14 = df_nj14.rename(columns={'Unnamed: 8': 'County Name'})
df_nj14 = df_nj14.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj14 = df_nj14.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj14 = df_nj14.rename(columns={'Unnamed: 11': 'Population'})
df_nj14 = df_nj14.rename(columns={'Unnamed: 12': 'Total'})
df_nj14 = df_nj14.rename(columns={'Unnamed: 22': '18plus'})

In [54]:
df_nj14 = df_nj14.drop(df_nj14.index[range(17)])

In [55]:
df_nj14_subset = df_nj14[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj14_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,025,00000,990000,0,0001,ZZZZZZ,P,Monmouth County,County subdivisions not defined,Block 0001,0,0,0
18,34,025,00000,990000,0,0002,ZZZZZZ,P,Monmouth County,County subdivisions not defined,Block 0002,0,0,0
19,34,025,00000,990000,0,0003,ZZZZZZ,P,Monmouth County,County subdivisions not defined,Block 0003,0,0,0
20,34,025,00000,990000,0,0004,ZZZZZZ,P,Monmouth County,County subdivisions not defined,Block 0004,0,0,0
21,34,025,00000,990000,0,0005,ZZZZZZ,P,Monmouth County,County subdivisions not defined,Block 0005,0,0,0

-----

Importing in Morris County

In [56]:
df_nj15 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//morris-county-blocks_R2.xlsx")
df_nj15.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df_nj15 = df_nj15.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj15 = df_nj15.rename(columns={'Unnamed: 1': 'County'})
df_nj15 = df_nj15.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj15 = df_nj15.rename(columns={'Unnamed: 3': 'Tract'})
df_nj15 = df_nj15.rename(columns={'Unnamed: 4': 'Group'})
df_nj15 = df_nj15.rename(columns={'Unnamed: 5': 'Block'})
df_nj15 = df_nj15.rename(columns={'Unnamed: 6': 'VTD'})
df_nj15 = df_nj15.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj15 = df_nj15.rename(columns={'Unnamed: 8': 'County Name'})
df_nj15 = df_nj15.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj15 = df_nj15.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj15 = df_nj15.rename(columns={'Unnamed: 11': 'Population'})
df_nj15 = df_nj15.rename(columns={'Unnamed: 12': 'Total'})
df_nj15 = df_nj15.rename(columns={'Unnamed: 22': '18plus'})

In [58]:
df_nj15.head(2)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,18plus
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
df_nj15 = df_nj15.drop(df_nj15.index[range(17)])

In [60]:
df_nj15_subset = df_nj15[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj15_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,027,06610,041000,1,1000,005301,A,Morris County,Boonton town,Block 1000,139,125,109
18,34,027,06610,041000,1,1001,005202,A,Morris County,Boonton town,Block 1001,27,25,19
19,34,027,06610,041000,1,1002,005301,A,Morris County,Boonton town,Block 1002,40,38,34
20,34,027,06610,041000,1,1003,005301,A,Morris County,Boonton town,Block 1003,57,53,50
21,34,027,06610,041000,1,1004,005202,A,Morris County,Boonton town,Block 1004,46,44,41

-----

Importing in Ocean County

In [61]:
df_nj16 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//ocean-county-blocks_R2.xlsx")
df_nj16.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df_nj16 = df_nj16.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj16 = df_nj16.rename(columns={'Unnamed: 1': 'County'})
df_nj16 = df_nj16.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj16 = df_nj16.rename(columns={'Unnamed: 3': 'Tract'})
df_nj16 = df_nj16.rename(columns={'Unnamed: 4': 'Group'})
df_nj16 = df_nj16.rename(columns={'Unnamed: 5': 'Block'})
df_nj16 = df_nj16.rename(columns={'Unnamed: 6': 'VTD'})
df_nj16 = df_nj16.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj16 = df_nj16.rename(columns={'Unnamed: 8': 'County Name'})
df_nj16 = df_nj16.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj16 = df_nj16.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj16 = df_nj16.rename(columns={'Unnamed: 11': 'Population'})
df_nj16 = df_nj16.rename(columns={'Unnamed: 12': 'Total'})
df_nj16 = df_nj16.rename(columns={'Unnamed: 22': '18plus'})

In [63]:
df_nj16 = df_nj16.drop(df_nj16.index[range(17)])

In [64]:
df_nj16_subset = df_nj16[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj16_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,029,00000,710101,2,2003,ZZZZZZ,P,Ocean County,County subdivisions not defined,Block 2003,0,0,0
18,34,029,00000,710101,2,2038,ZZZZZZ,P,Ocean County,County subdivisions not defined,Block 2038,0,0,0
19,34,029,00000,710102,2,2000,ZZZZZZ,P,Ocean County,County subdivisions not defined,Block 2000,0,0,0
20,34,029,00000,710102,3,3000,ZZZZZZ,P,Ocean County,County subdivisions not defined,Block 3000,0,0,0
21,34,029,00000,722500,2,2000,ZZZZZZ,P,Ocean County,County subdivisions not defined,Block 2000,0,0,0

-----

Importing in Passaic County

In [65]:
df_nj17 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//passaic-county-blocks_R2.xlsx")
df_nj17.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df_nj17 = df_nj17.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj17 = df_nj17.rename(columns={'Unnamed: 1': 'County'})
df_nj17 = df_nj17.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj17 = df_nj17.rename(columns={'Unnamed: 3': 'Tract'})
df_nj17 = df_nj17.rename(columns={'Unnamed: 4': 'Group'})
df_nj17 = df_nj17.rename(columns={'Unnamed: 5': 'Block'})
df_nj17 = df_nj17.rename(columns={'Unnamed: 6': 'VTD'})
df_nj17 = df_nj17.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj17 = df_nj17.rename(columns={'Unnamed: 8': 'County Name'})
df_nj17 = df_nj17.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj17 = df_nj17.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj17 = df_nj17.rename(columns={'Unnamed: 11': 'Population'})
df_nj17 = df_nj17.rename(columns={'Unnamed: 12': 'Total'})
df_nj17 = df_nj17.rename(columns={'Unnamed: 22': '18plus'})

In [67]:
df_nj17 = df_nj17.drop(df_nj17.index[range(17)])

In [68]:
df_nj17_subset = df_nj17[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj17_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,031,06340,116500,1,1000,005005,A,Passaic County,Bloomingdale borough,Block 1000,3,3,2
18,34,031,06340,116500,1,1001,005001,A,Passaic County,Bloomingdale borough,Block 1001,0,0,0
19,34,031,06340,116500,1,1002,005005,A,Passaic County,Bloomingdale borough,Block 1002,24,21,15
20,34,031,06340,116500,1,1003,005005,A,Passaic County,Bloomingdale borough,Block 1003,0,0,0
21,34,031,06340,116500,1,1004,005005,A,Passaic County,Bloomingdale borough,Block 1004,23,22,21

-----

Importing in Salem County

In [69]:
df_nj18 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//salem-county-blocks_R2.xlsx")
df_nj18.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df_nj18 = df_nj18.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj18 = df_nj18.rename(columns={'Unnamed: 1': 'County'})
df_nj18 = df_nj18.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj18 = df_nj18.rename(columns={'Unnamed: 3': 'Tract'})
df_nj18 = df_nj18.rename(columns={'Unnamed: 4': 'Group'})
df_nj18 = df_nj18.rename(columns={'Unnamed: 5': 'Block'})
df_nj18 = df_nj18.rename(columns={'Unnamed: 6': 'VTD'})
df_nj18 = df_nj18.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj18 = df_nj18.rename(columns={'Unnamed: 8': 'County Name'})
df_nj18 = df_nj18.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj18 = df_nj18.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj18 = df_nj18.rename(columns={'Unnamed: 11': 'Population'})
df_nj18 = df_nj18.rename(columns={'Unnamed: 12': 'Total'})
df_nj18 = df_nj18.rename(columns={'Unnamed: 22': '18plus'})

In [71]:
df_nj18 = df_nj18.drop(df_nj18.index[range(17)])

In [72]:
df_nj18_subset = df_nj18[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj18_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,033,00880,021201,1,1000,005002,A,Salem County,Alloway township,Block 1000,14,13,8
18,34,033,00880,021201,1,1001,005002,A,Salem County,Alloway township,Block 1001,4,4,4
19,34,033,00880,021201,1,1002,005002,A,Salem County,Alloway township,Block 1002,19,19,19
20,34,033,00880,021201,1,1003,005002,A,Salem County,Alloway township,Block 1003,8,8,8
21,34,033,00880,021201,1,1004,005002,A,Salem County,Alloway township,Block 1004,52,51,38

-----

Importing in Somerset County

In [73]:
df_nj19 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//somerset-county-blocks_R2.xlsx")
df_nj19.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
df_nj19 = df_nj19.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj19 = df_nj19.rename(columns={'Unnamed: 1': 'County'})
df_nj19 = df_nj19.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj19 = df_nj19.rename(columns={'Unnamed: 3': 'Tract'})
df_nj19 = df_nj19.rename(columns={'Unnamed: 4': 'Group'})
df_nj19 = df_nj19.rename(columns={'Unnamed: 5': 'Block'})
df_nj19 = df_nj19.rename(columns={'Unnamed: 6': 'VTD'})
df_nj19 = df_nj19.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj19 = df_nj19.rename(columns={'Unnamed: 8': 'County Name'})
df_nj19 = df_nj19.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj19 = df_nj19.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj19 = df_nj19.rename(columns={'Unnamed: 11': 'Population'})
df_nj19 = df_nj19.rename(columns={'Unnamed: 12': 'Total'})
df_nj19 = df_nj19.rename(columns={'Unnamed: 22': '18plus'})

In [75]:
df_nj19 = df_nj19.drop(df_nj19.index[range(17)])

In [76]:
df_nj19_subset = df_nj19[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj19_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,035,04450,052904,1,1000,005003,A,Somerset County,Bedminster township,Block 1000,0,0,0
18,34,035,04450,052904,1,1001,005003,A,Somerset County,Bedminster township,Block 1001,41,40,31
19,34,035,04450,052904,1,1002,005003,A,Somerset County,Bedminster township,Block 1002,12,12,11
20,34,035,04450,052904,1,1003,005003,A,Somerset County,Bedminster township,Block 1003,51,46,47
21,34,035,04450,052904,1,1004,005003,A,Somerset County,Bedminster township,Block 1004,32,30,30

-----

Importing in Sussex County

In [77]:
df_nj20 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//sussex-county-blocks_R2.xlsx")
df_nj20.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
df_nj20 = df_nj20.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj20 = df_nj20.rename(columns={'Unnamed: 1': 'County'})
df_nj20 = df_nj20.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj20 = df_nj20.rename(columns={'Unnamed: 3': 'Tract'})
df_nj20 = df_nj20.rename(columns={'Unnamed: 4': 'Group'})
df_nj20 = df_nj20.rename(columns={'Unnamed: 5': 'Block'})
df_nj20 = df_nj20.rename(columns={'Unnamed: 6': 'VTD'})
df_nj20 = df_nj20.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj20 = df_nj20.rename(columns={'Unnamed: 8': 'County Name'})
df_nj20 = df_nj20.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj20 = df_nj20.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj20 = df_nj20.rename(columns={'Unnamed: 11': 'Population'})
df_nj20 = df_nj20.rename(columns={'Unnamed: 12': 'Total'})
df_nj20 = df_nj20.rename(columns={'Unnamed: 22': '18plus'})

In [79]:
df_nj20 = df_nj20.drop(df_nj20.index[range(17)])

In [80]:
df_nj20_subset = df_nj20[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj20_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,037,01330,373500,2,2000,005001,A,Sussex County,Andover borough,Block 2000,37,29,33
18,34,037,01330,373500,2,2001,005001,A,Sussex County,Andover borough,Block 2001,19,16,19
19,34,037,01330,373500,2,2002,005001,A,Sussex County,Andover borough,Block 2002,59,54,52
20,34,037,01330,373500,2,2003,005001,A,Sussex County,Andover borough,Block 2003,41,39,40
21,34,037,01330,373500,2,2004,005001,A,Sussex County,Andover borough,Block 2004,11,7,7

-----

Importing in Union County

In [81]:
df_nj21 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//union-county-blocks_R2.xlsx")
df_nj21.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df_nj21 = df_nj21.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj21 = df_nj21.rename(columns={'Unnamed: 1': 'County'})
df_nj21 = df_nj21.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj21 = df_nj21.rename(columns={'Unnamed: 3': 'Tract'})
df_nj21 = df_nj21.rename(columns={'Unnamed: 4': 'Group'})
df_nj21 = df_nj21.rename(columns={'Unnamed: 5': 'Block'})
df_nj21 = df_nj21.rename(columns={'Unnamed: 6': 'VTD'})
df_nj21 = df_nj21.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj21 = df_nj21.rename(columns={'Unnamed: 8': 'County Name'})
df_nj21 = df_nj21.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj21 = df_nj21.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj21 = df_nj21.rename(columns={'Unnamed: 11': 'Population'})
df_nj21 = df_nj21.rename(columns={'Unnamed: 12': 'Total'})
df_nj21 = df_nj21.rename(columns={'Unnamed: 22': '18plus'})

In [83]:
df_nj21 = df_nj21.drop(df_nj21.index[range(17)])

In [84]:
df_nj21_subset = df_nj21[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj21_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,039,05320,038201,1,1000,005006,A,Union County,Berkeley Heights township,Block 1000,52,49,44
18,34,039,05320,038201,1,1001,005006,A,Union County,Berkeley Heights township,Block 1001,286,256,245
19,34,039,05320,038201,1,1002,005006,A,Union County,Berkeley Heights township,Block 1002,38,36,28
20,34,039,05320,038201,1,1003,005006,A,Union County,Berkeley Heights township,Block 1003,19,18,13
21,34,039,05320,038201,1,1004,005006,A,Union County,Berkeley Heights township,Block 1004,90,85,71

-----

Importing in Warren County

In [85]:
df_nj22 = pd.read_excel("..//data//source//RDH-data//nj_pl2020_b_official_xlsx//warren-county-blocks_R2.xlsx")
df_nj22.head(3)

,P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Census Blocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Universe: Total population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Source: U.S. Census Bureau, 2020 Census P.L. 9...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
df_nj22 = df_nj22.rename(columns={'P1. POPULATION BY RACE AND HISPANIC OR LATINO ORIGIN (INCLUDING RE-ALLOCATED INCARCERATED POPULATION)': 'State'})
df_nj22 = df_nj22.rename(columns={'Unnamed: 1': 'County'})
df_nj22 = df_nj22.rename(columns={'Unnamed: 2': 'Municipality'})
df_nj22 = df_nj22.rename(columns={'Unnamed: 3': 'Tract'})
df_nj22 = df_nj22.rename(columns={'Unnamed: 4': 'Group'})
df_nj22 = df_nj22.rename(columns={'Unnamed: 5': 'Block'})
df_nj22 = df_nj22.rename(columns={'Unnamed: 6': 'VTD'})
df_nj22 = df_nj22.rename(columns={'Unnamed: 7': 'VTDI'})
df_nj22 = df_nj22.rename(columns={'Unnamed: 8': 'County Name'})
df_nj22 = df_nj22.rename(columns={'Unnamed: 9': 'Municipality Name'})
df_nj22 = df_nj22.rename(columns={'Unnamed: 10': 'Areaname'})
df_nj22 = df_nj22.rename(columns={'Unnamed: 11': 'Population'})
df_nj22 = df_nj22.rename(columns={'Unnamed: 12': 'Total'})
df_nj22 = df_nj22.rename(columns={'Unnamed: 22': '18plus'})

In [87]:
df_nj22 = df_nj22.drop(df_nj22.index[range(17)])

In [88]:
df_nj22_subset = df_nj22[['State', 'County', 'Municipality', 'Tract', 'Group', 'Block', 'VTD', 'VTDI', 'County Name', 'Municipality Name', 'Areaname', 'Population', 'Total', '18plus']]
df_nj22_subset.head(5)

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,041,00670,031302,1,1000,005004,P,Warren County,Allamuchy township,Block 1000,70,70,62
18,34,041,00670,031302,1,1001,005004,P,Warren County,Allamuchy township,Block 1001,10,10,9
19,34,041,00670,031302,1,1002,005004,P,Warren County,Allamuchy township,Block 1002,10,9,8
20,34,041,00670,031302,1,1003,005004,P,Warren County,Allamuchy township,Block 1003,20,16,18
21,34,041,00670,031302,1,1004,005004,P,Warren County,Allamuchy township,Block 1004,0,0,0

-----

## Merging All Counties into One Dataset

In [89]:
pdList = [df_nj2_subset, df_nj3_subset, df_nj4_subset, df_nj5_subset, df_nj6_subset, df_nj7_subset, df_nj8_subset, df_nj9_subset, df_nj10_subset, df_nj11_subset, df_nj12_subset, df_nj13_subset, df_nj14_subset, df_nj15_subset, df_nj16_subset, df_nj17_subset, df_nj18_subset, df_nj19_subset, df_nj20_subset, df_nj21_subset, df_nj22_subset]
df_nj_merged = pd.concat(pdList)

In [90]:
df_nj_merged

,State,County,Municipality,Tract,Group,Block,VTD,VTDI,County Name,Municipality Name,Areaname,Population,Total,18plus
17,34,001,00000,010101,4,4003,ZZZZZZ,P,Atlantic County,County subdivisions not defined,Block 4003,0,0,0
18,34,001,00000,010101,4,4004,ZZZZZZ,P,Atlantic County,County subdivisions not defined,Block 4004,0,0,0
19,34,001,00000,010102,1,1000,ZZZZZZ,P,Atlantic County,County subdivisions not defined,Block 1000,0,0,0
20,34,001,00000,010102,1,1001,ZZZZZZ,P,Atlantic County,County subdivisions not defined,Block 1001,0,0,0
21,34,001,00000,010104,1,1000,ZZZZZZ,P,Atlantic County,County subdivisions not defined,Block 1000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2860,34,041,80570,031601,4,4044,115005,A,Warren County,White township,Block 4044,24,22,17
2861,34,041,80570,031601,4,4045,115005,A,Warren County,White township,Block 4045,106,105,87
2862,34,041,80570,031601,4,4046,115005,A,Warren County,White township,Block 4046,30,30,30
2863,34,041,80570,031601,4,4047,115005,A,Warren County,White township,Block 4047,74,72,53
2864,34,041,80570,031601,4,4048,115003,A,Warren County,White township,Block 4048,0,0,0

In [91]:
# df_nj_merged.to_csv('..//data//processed//df_nj_merged.csv', index = False)